@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
  overflow: hidden;
  padding-top: 64px;
}

.anticon {
  cursor: pointer;
}

.anticon:active {
  opacity: .7;
}

.main-content {
  height: calc(100vh - 136px);
}
